<div class="navbar__user">
        <a href="#" alt=""><img src="../img/avatar.jpg" alt="" class="user__avatar "></a>
        <a href="#" class="user__name ">User Name</a>
        <button class="user__menu" type="button">
          <span class="user__after"></span>
          Menú
        </button>
      </div>




      <nav class="navbar">
          <span class="navbar__heading">PastryHome</span>
          <div class="navbar__user">
              <a href="#" class="navbar__user-profile">
                <img src="../img/avatar.jpg" alt="" class="navbar__user-avatar ">
                <span class="navbar__user-name">User Name</span>
              </a>
              <button class="navbar__user-menu" type="button">
                <i class="user__after"></i>
                Menú
              </button>
          </div>
        </nav>


        <nav class="navbar">
            <span class="navbar__heading">PastryHome</span>
            <div class="navbar__user">
              <a href="#login" role="button" class="navbar__user-name">Sign in</a>
              <a href="#signin" role="button" class="navbar__user-name">Login</a>
            </div>
          </nav>
        



        <nav class="web-header__navbar">
            <span class="navbar__heading">PastryHome</span>
            <div class="navbar__user">
              <a href="#login" role="button" class="navbar__user-name">Sign in</a>
              <a href="#signin" role="button" class="navbar__user-name">Login</a>
            </div>
          </nav>


