<a class="navbar__user">
        <img src="../img/avatar.jpg" alt="" class="user__avatar ">
        <span class="user__name ">User Name</span>
      </a>



      <nav class="navbar">
            <span class="navbar__heading">PastryHome</span>
            <div class="navbar__user">
                <a href="#" class="navbar__user-profile">
                  <img src="../img/avatar.jpg" alt="" class="navbar__user-avatar ">
                  <span class="navbar__user-name ">User Name</span>
                </a>
                <button class="navbar__user-menu" type="button">
                  <i class="user__after"></i>
                  Menú
                </button>
            </div>
          </nav>