<link rel="stylesheet" href="flex-card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<ul class="cards">

    <li class="cards__item">
        <div class="card">
            <img src="https://unsplash.it/800/600?image=82" alt="" class="media__media">
            <div class="card__content">
                <p class="card__title">Nombre </p>
                <p class="card__author">Nombre del autor </p>
                <div class="media__rating"><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </li>

    <li class="cards__item">
        <div class="card">
            <img src="https://unsplash.it/800/600?image=82" alt="" class="media__media">
            <div class="card__content">
                <p class="card__title">Nombre </p>
                <p class="card__author">Nombre del autor </p>
                <div class="media__rating"><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </li>

    <li class="cards__item">
        <div class="card">
            <img src="https://unsplash.it/800/600?image=82" alt="" class="media__media">
            <div class="card__content">
                <p class="card__title">Nombre </p>
                <p class="card__author">Nombre del autor </p>
                <div class="media__rating"><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </li>

</ul>