[aria-expanded="false"] + .dropdown__menu {
   display: none;
} 

.dropdown {
   position: relative;
}

.dropdown__menu {
   position: absolute;
   top: 100%; /* Al poner el 100% el desplegable del dropdown siempre quedará justo a la altura del botón*/
   left: 0;
   z-index: 20;
   min-width: 10rem;
   border: 1px solid #ddd;  
   padding-left: 5px;
   font-family: 'Fjalla', cursive;
   background-color: #fff;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
   border-radius: 4px;
}

.dropdown--link .dropdown__menu{
   top: calc(100% - 12px);
}

/* .dropdown__menu .dropdown__item {
   display: block;
   padding: .3rem .8rem;
   color: blue;
   text-decoration: none;
} */

.dropdown__btn01,
.dropdown__btn02,
.dropdown__btn03 {
   background: transparent;
   border: none;
   text-decoration: none;
   padding: 10px 10px;
   font-family: 'Fjalla', cursive;
   font-weight: 400;
   font-size: 1.5rem;
   color: #4a4a4a;
   cursor: pointer;
}

.dropdown__btn01:focus,
.dropdown__btn02:focus,
.dropdown__btn03:focus {
   outline: 0;
} 