<link rel="stylesheet" href="dropdown.css">

<!-- <div class="container container--form">
  <form for="demo" class="custom__select"> -->
    <div class="dropdown dropdown--link navbar__item">
      <button type="button" class="dropdown__btn01 " aria-expanded="false">Tipo de dulce</button>
      <div class="dropdown__menu">
        <ul class="dropdown__list">
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="cake">Tarta</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox2" value="dessert">Postre</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="iceCream">Helado</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="teaBiscuit">Pastas</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="chocolate">Chocolate</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown dropdown--link navbar__item">
      <button type="button" class="dropdown__btn02" aria-expanded="false">¿Alergías y/o intolerancias?</button>
      <div class="dropdown__menu">
        <ul class="dropdown__list">
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="gluten">Gluten</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox2" value="egg">Huevo</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="nuts">Frutos Secos</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="peanut">Cacahuete</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="soja">Soja</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="milk">Leche</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown dropdown--link navbar__item">
      <button type="button" class="dropdown__btn03" aria-expanded="false">Ocasión</button>
      <div class="dropdown__menu">
        <ul class="dropdown__list">
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="birthday">Cumpleaños</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox2" value="wedding">Boda</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="babyShower">Baby Shower</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="firstCommunion">Comunión</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="friends">Con Amigos</label>
          </li>
        </ul>
      </div>
    </div>
    <button type="submit" class="btn form__btn">Buscar</button>
  <!-- </form>
</div> -->

<script type="text/javascript" src="dropdown.js"></script>
