<link rel="stylesheet" href="from-group.css">

     <div id="login" class="overlay"> 
            <div class="login-popup">
              <a href="#" class="close">&times;</a>
              <form action="..." method="...">
                <fieldset class="form-fieldset form-fieldset--personaldata">
                <legend class="form-legend">Sign in</legend>
                <div class="form-register">
                  <div class="form-group">
                    <label class="form-group--label" for="name">First name</label>
                    <input class="form-group--control" type="text" id="name">
                  </div>
                  <div class="form-group">
                    <label class="form-group--label" for="lastname">Last name</label>
                    <input class="form-group--control" type="text" id="lastname">
                  </div>
                  <div class="form-group">
                    <label class="form-group--label" for="email">email</label>
                    <input class="form-group--control" type="email" id="email">
                  </div>
                  <div class="form-group">
                    <label class="form-group--label" for="password">Password</label>
                    <input class="form-group--control" type="password" id="nombre">
                  </div>
                  <div class="form-group">
                    <label class="form-group--label" for="city">City</label>
                    <input class="form-group--control" type="text" id="city">
                  </div>
                </fieldset>
                <fieldset class="form-fieldset form-fieldset--typecustomer">
                  <legend class="form-legend">¿Qué tipo de usuario eres?</legend>
                  <div class="form-group">
                    <input class="form-group--control" type="radio" id="r-01" name="typeclient">
                    <label class="form-group--label" for="r-01">Customer</label>
                  </div>
                  <div class="form-group">
                    <input class="form-group--control" type="radio" id="r-02" name="typeclient">
                    <label class="form-group--label" for="r-021">Baker</label>
                  </div>
                </fieldset>
                  <div class="form-group">
                    <button type="submit" class="btn btn--form">Submit</button>
                  </div>
    
                </div>
              </form>
            </div>
          </div> 
