
.close {
    position: absolute;
    text-decoration: none;
    top: 20px;
    right: 20px;
 }

.form-legend {
    padding: 20px;
    text-align: center;
    font-family: 'Fjalla', cursive;
    color: #4a4a4a;
    font-weight: 400;
    font-size: 1.5rem;
}

.form-fieldset {
   border: none;
}

.login-popup {
    position: relative;
    z-index: 20;
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #3c4245;
    max-width: 500px;
    height: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
 }
 
 .form-register{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }
 
 .form-group{
    margin: 10px;  
 }
 
 .form-group--label{
    display: block;
     margin-bottom: 10px;
     font-family: 'Fjalla', cursive;
     color: #4a4a4a;
     font-weight: 400;
     font-size: 1.15rem;
 }
 
 .btn--form{
    font-family: 'Fjalla', cursive;
    color: #fff;
    font-weight: 400;
    font-size: 1.15rem;
    background-color: #4a4a4a;
 }
 
 .form-group--control{
    font-size: 1rem;
    padding-left: 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom:1px solid #757575;
 }
 